/*logo*/
#logo {
  width: 50%;
}

/*changes modal header color to match color scheme of page, border radius change gives rounded edges*/
.modal-header {
  background-color: #222222;
  color: #ffffff;
  border-radius: 4px 4px 0px 0px;
}

/*allows me to vertically align the modal to my preferences*/
.modal {
  text-align: center;
  padding: 0!important;
}

div.modal-body {
	padding-bottom: 0;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 95%;
  vertical-align: middle;
  margin-right: -4px;
}

.modal-dialog {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
}

/*row of the plans*/
div.row {
  margin-bottom: 30px;
}

/*titles of the plans*/
h3 {
  margin-top: 40px;
}

/*card deck*/
.card-deck {
  display:inline;
}

/*line divider*/
hr {
  width: 50%;
  margin-bottom: 30px;
}

/*sections*/
.section {
  color: #222;
  text-align: center;
}

/*titles*/
h1 {
  font-family: 'Krona One', sans-serif;
}

/*nav*/
#menu li {
	display:inline-block;
	margin: 10px;
	color: #000;
	background:#fff;
	background: rgba(255,255,255, 0.5);
	-webkit-border-radius: 10px;
            border-radius: 10px;
  
}
#menu li:last-child {
  float: right;
}
#menu li.active{
	background:#666;
	background: #222;
	color: #fff;
}
#menu li a{
	text-decoration:none;
	color: #000;
}
#menu li.active a:hover{
	color: #000;
}
#menu li:hover{
	background: rgba(255,255,255, 0.8);
}
#menu li a,
#menu li.active a{
	padding: 9px 18px;
	display:block;
}
#menu li.active a{
	color: #fff;
}
#menu{
  font-family: 'Krona One', sans-serif;
  position: fixed;
	top:0;
	left:0;
	height: 40px;
	z-index: 70;
	width: 100%;
	padding: 0;
	margin:0;
}

/*footer*/
#infoMenu {
  font-family: 'Krona One', sans-serif;
  height: 40px;
  bottom: 0;
  width: 100%;
  text-align: right;
  font-size: .9em;
  padding: 8px 0;
  z-index: 70;
  position: fixed;
}

#infoMenu li a {
  display: block;
  margin: 0 22px 0 22px;
  color: #222;
}

#infoMenu li a:hover {
  text-decoration: underline;
}

#infoMenu li {
  display: inline-block;
  position: relative;
  color: #222;
}
