/*logo*/
img {
  width: 60%;
}

/*sections*/
.section {
  font-size: 6em;
  font-family: 'Krona One', sans-serif;
  color: #222;
  text-align: center;
  position: relative;
}

/*nav*/
#menu li {
	display:inline-block;
	margin: 10px;
	color: #000;
	background:#fff;
	background: rgba(255,255,255, 0.5);
	-webkit-border-radius: 10px;
            border-radius: 10px;
}
#menu li.active{
	background:#666;
	background: #222;
	color: #fff;
}
#menu li a{
	text-decoration:none;
	color: #000;
}
#menu li.active a:hover{
	color: #000;
}
#menu li:hover{
	background: rgba(255,255,255, 0.8);
}
#menu li a,
#menu li.active a{
	padding: 9px 18px;
	display:block;
}
#menu li.active a{
	color: #fff;
}
#menu{
  font-family: 'Krona One', sans-serif;
  position: fixed;
	top:0;
	left:0;
	height: 40px;
	z-index: 70;
	width: 100%;
	padding: 0;
	margin:0;
}

/*footer*/
#infoMenu {
  font-family: 'Krona One', sans-serif;
  height: 40px;
  bottom: 0;
  width: 100%;
  text-align: right;
  font-size: .9em;
  padding: 8px 0;
  z-index: 70;
  position: fixed;
}

#infoMenu li a {
  display: block;
  margin: 0 22px 0 22px;
  color: #222;
}

#infoMenu li a:hover {
  text-decoration: underline;
}

#infoMenu li {
  display: inline-block;
  position: relative;
}
